$primary-color: #211951;
$base-color: #836FFF;
$green: #15F5BA;
$drak-green: #03ab00;
$gray: #B4B4B8;
$gray-bg: #F0F3FF;
$smoke-gray: #ebebeb;
$white: #ffffff;
$white2: #FEFBF6;
$hover-color: #0766AD;
$black-color: #000000;
$red-color: #F3B95F;
$blue-color: #142bff;
