* {
    font-family: "kanit" !important;
    font-weight: 300;
}

html {
    height: 100%;
}

body {
    margin: 0;
    line-height: 1;
}

.header {
    height: 70px;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .topnav {
        display: flex;
        gap: 60px;
        padding: 20px;
    }

    .logo {
        padding: 20px;

        img {
            width: 130px;
            height: 150px;
            object-fit: cover;
        }
    }
}

.body {
    position: absolute;
    top: 70px;
    height: calc(100% - 70px);
    width: 100%;
    overflow-y: auto;

    .test {
        height: 3000px;
        width: 100%;
        background-color: red;
    }
}