{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROJECT HUB</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/dist/layout.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/dist/font.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/dist/projectStyle.min.css' %}">
</head>
<body>
    <nav>
        {% include 'header.html' %}
    </nav>
    <div class="body">
        <div class="project">
            <div class="todolist">
                <div class="calendar">
                    <div class="filter calendar-feature">
                        <form id="filterYearMonth" action="{% url 'project:todolist' %}" method='post'>
                            {% csrf_token %}
                            <div class="year-month">
                                <input type="hidden" class="month" name="month" value="{{ filters.month }}">
                                <div class="button" onclick="adjustMonth(-1)">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-math-lower" width="14" height="14" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M19 18l-14 -6l14 -6" />
                                    </svg>
                                </div>
                                <div class="month-display title">{{ month_name }}</div>
                                <div class="button" onclick="adjustMonth(1)">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-math-greater" width="14" height="14" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M5 18l14 -6l-14 -6" />
                                    </svg>
                                </div>                                         
                                <div class="month-display year-input">
                                    <div>{{ filters.year }}</div>
                                    <input type="hidden" class="year" name="year" value="{{ filters.year }}">
                                </div>
                                <div class="button" onclick="adjustMonth()" title="Reset to this month">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-restore" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3.06 13a9 9 0 1 0 .49 -4.087" /><path d="M3 4.001v5h5" />
                                        <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                    </svg>
                                </div> 
                            </div>
                        </form>
                        <div class="button-feature">
                            <div class="button" onclick="openModal('modalAddOrEdit')">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" />
                                    <path d="M5 12l14 0" />
                                </svg>
                            </div> 
                        </div>
                    </div>
                    <div class="calendar-table">
                        <div class="calendar-header">
                            {% for day_name in calendar_info.weekdays %}
                                <div class="cell">{{ day_name }}</div>
                            {% endfor %}
                        </div>
                        {% for week in calendar_info.week_sublists %}
                            <div class="week">
                                {% for day in week %}
                                    <div class="cell {% if current_day == day %}today{% endif %} {% if day != 0 %}active-hover{% endif %}">
                                        <span>{% if day != 0 %}{{ day }}{% endif %}</span>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="todo">
                    <div class="filter">
                        filters
                    </div>
                    <div class="todo-detail">
                        {% for todo in todo_model %}
                            <div class="item">
                                <div class="subject">Subject:</div>
                                <div>{{ todo.subject }}</div>
                                <div class="subject">Description:</div>
                                <div>{{ todo.description }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <modal id="modalAddOrEdit" class="modal hidden">
                <div class="close-modal" onclick="closeModal('modalAddOrEdit')"></div>
                <div class="modal-body">
                    <div class="close-modal-x" onclick="closeModal('modalAddOrEdit')">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M18 6l-12 12" /><path d="M6 6l12 12" />
                        </svg>
                    </div>
                    <div class="modal-content">
                        <div class="modal-title">Add todo list</div>
                        <form id="addOrEdit" method="post" action="">
                            {% csrf_token %}
                            <div class="row">
                                <div class="w50">
                                    <input class="date_start" name="date_start" type="datetime-local" placeholder=" ">
                                    <label>Start date</label>
                                </div>
                                <div class="w50">       
                                    <input class="date_end" name="date_end" type="datetime-local" placeholder=" ">
                                    <label>End date</label>
                                </div>
                            </div>
                            <div class="row">
                                <input class="subject" name="subject" type="text" maxlength="256" placeholder=" ">
                                <label>Subject</label>
                            </div>
                            <div class="row">
                                <textarea class="description" name="description" maxlength="512" placeholder=" "></textarea>
                                <label>Description</label>
                            </div>
                        </form>
                        <button onclick="addOrEdit('addOrEdit')">Add</button>
                    </div>
                </div>
            </modal>
        </div>
    </div>

    <script>

        function adjustMonth(offset) {
            let monthInput = document.getElementById('filterYearMonth').querySelector('[name="month"]');
            let yearInput = document.getElementById('filterYearMonth').querySelector('[name="year"]');
        
            if (offset === null || offset === undefined) {
                setToCurrentMonthAndYear(monthInput, yearInput);
            } else {
                updateMonthAndYear(monthInput, yearInput, offset);
            }
        
            submitForm('filterYearMonth');
        }
        
        function setToCurrentMonthAndYear(monthInput, yearInput) {
            monthInput.value = new Date().getMonth() + 1; // Months are zero-indexed in JavaScript, so add 1
            yearInput.value = new Date().getFullYear();
        }
        
        function updateMonthAndYear(monthInput, yearInput, offset) {
            let monthValue = parseInt(monthInput.value);
            let yearValue = parseInt(yearInput.value);
            let newMonth = monthValue + offset;
        
            if (newMonth < 1) {
                let newYear = yearValue - 1;
                setMonthAndYear(monthInput, yearInput, 12, newYear);
            } else if (newMonth > 12) {
                let newYear = yearValue + 1;
                setMonthAndYear(monthInput, yearInput, 1, newYear);
            } else {
                setMonthAndYear(monthInput, yearInput, newMonth, yearValue);
            }
        }
        
        function setMonthAndYear(monthInput, yearInput, newMonth, newYear) {
            monthInput.value = newMonth;
            yearInput.value = newYear;
        }
        
        function submitForm(formId) {
            document.getElementById(formId).submit();
        }

        function openModal(modalId) {
            let modal = document.getElementById(modalId);
            let form = document.getElementById('addOrEdit');
            form.action = '{% url "project:todolistAdd" %}'
            modal.classList.remove('hidden');
        }

        function closeModal(modalId) {
            let form = document.getElementById(modalId);
            form.classList.add('hidden');
        }

        function addOrEdit(formId) {
            submitForm(formId);
        }
        
    </script>
</body>