@import '../../../static/css/base_color.scss';

* {
    font-family: "kanit" !important;
    font-weight: 300;
}

// Responsive size
// > 1200 
// 850 - 1200
// 650 - 850
// < 650

.title {
    font-size: 24px;
    font-weight: 400;
}

.project {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    height: inherit;
    
    .box {
        width: 300px;
        height: 200px;
        background-color: red;
        display: flex;
        align-items: center;
        justify-content: center;

        @media only screen and (max-width: 850px) {
            width: 200px;
            height: 150px;
        }
    }

    .button {
        width: 34px;
        height: 34px;
        background-color: $white;
        border-radius: 10px;
        box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
            transform: scale(1.2);
            background-color: $hover-color;
        }

        svg {
            stroke-width: 2;
        }
    }

    .filter {
        height: 60px;
        display: flex;
        align-items: center;

        .year-month {
            display: inline-flex;
            gap: 10px;

            .year-input {
                width: 80px;
                line-height: 34px;

                & input {
                    width: 100%;
                    line-height: 32px;
                    border: none;
                    border-radius: 10px;
                    text-align: center;
                }
            }
        }

        .month-display {
            width: 120px;
            height: 34px;
            background-color: rgb(255, 255, 255);
            border-radius: 10px;
            box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .todolist {
        width: 100%;
        height: inherit;

        .calendar {
            position: absolute;
            left: 0;
            padding: 20px 10px 10px 40px;
            width: calc(60% - 50px);
            height: calc(100% - 40px);
        }
        .todo {
            position: absolute;
            right: 0;
            padding: 20px 0px 0px 10px;
            width: calc(40% - 10px);
            height: calc(100% - 20px);
        }

        .calendar {

            .calendar-feature {
                justify-content: space-between;
            }

            .calendar-table {
                width: 100%;
                background-color: $white;
                box-shadow: 
                    0 12px 12px 0 rgba(0, 0, 0, 0.2), 
                    0 6px 20px 0 rgba(0,0,0,0.19);
                border-radius: 10px;

                .calendar-header {
                    height: 30px;

                    .cell:first-child {
                        border-top-left-radius: 10px;
                    }
                    .cell:last-child {
                        border-top-right-radius: 10px;
                    }
                }

                .week {
                    height: 100px
                }

                .week,
                .calendar-header {
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(7, 1fr);

                    &.week:last-child {
                        .cell:first-child {
                            border-bottom-left-radius: 10px;
                        }
                        .cell:last-child {
                            border-bottom-right-radius: 10px;
                        }
                    }
                }

                .cell {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 5px;

                    &.cell:first-child,
                    &.cell:last-child{
                        background-color: $base-color;
                    }
                }

                .today {
                    background-color: $primary-color !important;
                    color: $white;
                    font-size: 20;
                    font-weight: 400;
                }
            }

            .active-hover {
                cursor: pointer;

                &:hover {
                    background-color: $green !important;
                    span {
                        transform: scale(4);
                        transition: linear;
                    }
                }
            }
        }

        .todo {
            .todo-detail {
                height: calc(100% - 60px);
                overflow: auto;

                .item {
                    width: calc(100% - 60px);
                    background-color: $white;
                    box-shadow: 
                        0 12px 12px 0 rgba(0, 0, 0, 0.2), 
                        0 6px 20px 0 rgba(0,0,0,0.19);
                    border-radius: 10px;
                    margin: 20px;
                    padding: 10px;
                    display: grid;
                    grid-template-columns: 100px auto;
                    gap: 10px;

                    .subject {
                        font-weight: 400;
                    }
                }
            }
        }
    }
}

.modal {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0,0,0, 0.8);
    backdrop-filter: blur(4px);
    transition: opacity 2s ease;

    .modal-body {
        width: 560px;
        height: calc(100% - 60px);
        margin: 10px;
        padding: 20px;
        float: right;
        z-index: 200;
        background-color: $white;
        border-radius: 20px;
        backdrop-filter: none;

        .modal-content {
            .modal-title {
                text-align: center;
                font-weight: 400;
                font-size: 24px;
                margin-bottom: 30px;
            }

            .row {
                display: flex;
                column-gap: 10px;

                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }

            input,
            textarea {
                width: calc(100% - 10px);
                border-radius: 8px;
                border: none;
                background-color: $white;
                line-height: 24px;
                padding: 5px;
                border: 0.5px solid $smoke-gray;
                cursor: auto;

                &:not(:placeholder-shown),
                &:focus {
                    ~ label {
                        transform: translateY(-50%) scale(0.7);
                        background-color: $white;
                        line-height: unset;
                        padding: 0 10px;
                    }
                    outline: none;
                }
            }

            input[type="datetime-local"] ~ label {
                transform: translateY(-320%) scale(0.7);
            }

            label {
                position: absolute;
                font-size: 14px;
                line-height: 24px;
                padding: 5px 5px 5px 10px;
                color: $gray;
                pointer-events: none;
                transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
            }

            .sub-group {
                padding: 20px 10px;
                border: 0.5px solid $smoke-gray;
                border-radius: 20px;
                margin-bottom: 10px;

                hr {
                    border: 0.5px solid $smoke-gray;
                    margin: 15px 0;
                }
            }

            .sub_des-set {
                display: grid;
                grid-template-columns: auto 1fr auto;
                gap: 10px;
            }

            button {
                width: 100%;
                margin: 35px 0;
                background-color: $blue-color;
                height: 34px;
                border-radius: 10px;
                box-shadow: 
                    0 12px 12px 0 rgba(0, 0, 0, 0.2), 
                    0 6px 20px 0 rgba(0,0,0,0.19);
                border: none;
                cursor: pointer;
                color: $white;
                font-weight: 400;

                &:active {
                    transform: translateY(3px);
                }
            }
        }

        .close-modal-x {
            position: absolute;
            right: 20px;
            top: 20px;
            cursor: pointer;
            
            &:hover {
                transform: scale(1.2);
            }
        }

        .icon-feature {
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 34px;
            height: 34px;
            width: 34px;
            border: 0.5px solid $smoke-gray;
            border-radius: 8px;
            cursor: pointer;

            &:hover {
                background-color: $hover-color;
            }
        }

        .order-number {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 34px;

            &::after {
                content: ".";
            }
        }
    }

    .close-modal {
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: pointer;
        z-index: -999;
    }
}